<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.haut.server.mapper.SysPermissionMapper">

    <resultMap id="BaseResultMap" type="org.haut.server.entity.SysPermission">
            <id property="id" column="id" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="isDelete" column="is_delete" />
            <result property="permCode" column="perm_code" />
            <result property="permType" column="perm_type" />
            <result property="resourcePath" column="resource_path" />
            <result property="operation" column="operation" />
            <result property="parentId" column="parent_id" />
            <result property="remark" column="remark" />
    </resultMap>

    <sql id="Base_Column_List">
        id,create_time,update_time,is_delete,perm_code,perm_type,
        resource_path,operation,parent_id,remark
    </sql>
</mapper>
