<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.haut.server.stock.mapper.StockOutOrderMapper">

    <resultMap id="BaseResultMap" type="org.haut.server.stock.entity.StockOutOrder">
            <id property="id" column="id" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="isDelete" column="is_delete" />
            <result property="remark" column="remark" />
            <result property="operator" column="operator" />
            <result property="orderCode" column="order_code" />
            <result property="totalPrice" column="total_price" />
            <result property="orgId" column="org_id" />
    </resultMap>

    <sql id="Base_Column_List">
        id,create_time,update_time,is_delete,remark,
        operator,order_code,total_price,org_id
    </sql>
</mapper>