<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.haut.server.stock.mapper.StockProductMapper">

    <resultMap id="BaseResultMap" type="org.haut.server.stock.entity.StockProduct">
            <id property="id" column="id" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="isDelete" column="is_delete" />
            <result property="remark" column="remark" />
            <result property="productId" column="product_id" />
            <result property="quantity" column="quantity" />
    </resultMap>

    <sql id="Base_Column_List">
        id,create_time,update_time,is_delete,remark,
        product_id,quantity
    </sql>
</mapper>