<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.haut.server.system.mapper.SysPermissionMapper">

    <resultMap id="BaseResultMap" type="org.haut.server.system.entity.SysPermission">
        <id property="id" column="id" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
        <result property="isDelete" column="is_delete" />
        <result property="name" column="perm_name"/>
        <result property="component" column="component_name" />
        <result property="path" column="resource_path" />
        <result property="permCode" column="perm_code" />
        <result property="parentId" column="parent_id" />
        <result property="remark" column="remark" />
        <result property="permStatus" column="perm_status"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,create_time,update_time,is_delete,perm_name,perm_code,resource_path,component_name,parent_id,remark,perm_status
    </sql>
    <select id="queryListByRoleId" resultMap="BaseResultMap" parameterType="long">
        select *
        from sys_permission sp
        left join pos.sys_role_permission srp on sp.id = srp.permission_id
        where srp.role_id = #{roleId}
        AND sp.is_delete = 0
        AND sp.perm_status = 0
    </select>
    <select id="queryListByUserId" resultMap="BaseResultMap" parameterType="long">
        select distinct sp.*
        from sys_permission sp
        left join pos.sys_role_permission srp on sp.id = srp.permission_id
        where srp.role_id = (
            select role_id from sys_user where sys_user.id = #{userId}
            )
        AND sp.is_delete = 0
        AND sp.perm_status = 0
    </select>
</mapper>
