<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.haut.server.server.mapper.ServerRechargeRoleMapper">

    <resultMap id="BaseResultMap" type="org.haut.server.server.entity.ServerRechargeRole">
            <id property="id" column="id" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="isDelete" column="is_delete" />
            <result property="remark" column="remark" />
            <result property="rechargeRoleName" column="recharge_role_name" />
            <result property="rechargePrice" column="recharge_price" />
            <result property="commissionType" column="commission_type" />
            <result property="rechargeCommissionValue" column="recharge_commission_value" />
    </resultMap>

    <sql id="Base_Column_List">
        id, create_time,update_time,is_delete,remark,recharge_role_name,
        recharge_price,commission_type,recharge_commission_value,status,org_id
    </sql>

</mapper>
