<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.haut.server.kpi.mapper.KpiDetailMapper">

    <select id="selectKpiList" resultType="org.haut.common.domain.vo.kpi.KpiListVO">
        SELECT
        kd.id,
        kd.user_name,
        kd.commission,
        kd.create_time,
        kd.service_code,
        kd.service_name,
        kd.service_type,
        kd.item_type,
        kd.performance,
        kd.quantity,
        so.org_name
        FROM
        kpi_detail kd
        LEFT JOIN sys_org so ON so.id = kd.org_id
        <where>
            <if test="query.username != null and query.username != ''">
                AND kd.user_name LIKE CONCAT('%', #{query.username}, '%')
            </if>
            <if test="query.orgId != null">
                AND kd.org_id = #{query.orgId}
            </if>
            <if test="query.beginDate != null">
                AND kd.create_time >= #{query.beginDate}
            </if>
            <if test="query.endDate != null">
                AND kd.create_time &lt;= #{query.endDate}
            </if>
        </where>
        ORDER BY
        kd.create_time DESC
    </select>

</mapper>