<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.haut.server.room.mapper.RoomInfoMapper">

    <resultMap id="BaseResultMap" type="org.haut.server.room.entity.RoomInfo">
            <id property="id" column="id" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="isDelete" column="is_delete" />
            <result property="remark" column="remark" />
            <result property="roomName" column="room_name" />
        <result property="orgId" column="org_id"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,create_time,update_time,is_delete,remark,room_name
    </sql>

    <select id="getAllRooms" resultType="org.haut.common.domain.vo.room.RoomInfoVO">
        select
            ri.id,
            ri.room_name,
            ri.remark,
            ri.org_id,
            count(rb.id) as bed_count,
            count(case when rb.status = 0 then 1 end) as free_bed_count
        from room_info ri
                 left join pos.room_bed rb on ri.id = rb.room_info_id
        where ri.is_delete = 0 and ri.org_id = #{orgId}
        group by ri.id
    </select>


</mapper>
